/*=== Table of Contents:

    0. Variables
    1. Reset
    2. Global Styles
    3. Layout
    4. Components

===*/
/*------------------- 
  0. Variables
  -------------------*/
/*------------------- 
  1. Reset - Eric Meyer's Reset 
  -------------------*/
/* - SCSS conversion of Eric Meyer's reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/*---------------------- 
    2. Global Styles 
-----------------------*/
html {
  height: 100%;
  font-size: 93.75%;
}

body {
  height: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

/*------------------- 
    3. Layout 
--------------------*/
.page-wrapper {
  min-height: 100vh;
  background: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.header-container {
  text-align: center;
  max-width: 34rem;
  margin-top: 2rem;
}

.main-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /*pushes footer to bottom of page*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  padding: 2rem;
}

/*-------------------- 
    4. Components
----------------------*/
/* header */
.slogan-1 {
  font-size: 2.4rem;
  color: #4c4e61;
  font-weight: 200;
  margin-bottom: 1rem;
}

.slogan-2 {
  font-size: 2.4rem;
  color: #4c4e61;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.description {
  color: #a3a5ae;
  line-height: 1.5rem;
}

/*card component */
.card-component {
  height: 17rem;
  max-width: 24rem;
  padding: 2rem;
  position: relative;
  background: #FFF;
  border-radius: 0.5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 2rem 6rem -4rem #0c52a1;
          box-shadow: 0 2rem 6rem -4rem #0c52a1;
  margin: 1rem;
}

.card-component h3 {
  color: #4c4e61;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.card-component p {
  color: #a3a5ae;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.card-component img {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2rem;
}

.supervisor {
  border-top: 5px solid #45d3d3;
}

.team-builder {
  border-top: 5px solid #ea5353;
}

.karma {
  border-top: 5px solid #fcaf4a;
}

.calculator {
  border-top: 5px solid #549ef2;
}

/* media query for mobile */
@media (max-width: 1024px) {
  .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 4rem;
  }
  .header-container h2 {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */